.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whatsapp-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;
  cursor: pointer;
}
.new-arrivals_container,.mens-shawls_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.shawls_card_container {
    margin-top: 20px;
    padding-left: 18px;
    width: 100%;
    height: 100%;
  }
.new_arrivals_name{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 60px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a3a3a;
  color: white;
  width: 100%;
  cursor: pointer;
}
.new_arrivals_name:hover{
  text-decoration: underline;

}
/* Media Query for smaller devices */
@media (max-width: 768px) {
  .intro_container {
    height: 300px;
  }

  .shawls_card_container {
    gap: 10px;
    margin: 10px;
  }
}
